@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@600&family=Libre+Baskerville:wght@700&family=Nunito:wght@700;900&family=Poppins:wght@400;500&display=swap');

* {
	font-family: "Poppins", sans-serif;
	font-weight: bolder;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: red;
	transition: 0.5s;
	background-size: cover;
	background-image: url(resources/bg.jpg);
}

.container {
	margin-top: 5vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;

}

.container .box {
	position: relative;

	width: 280px;
	height: 280px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: 0.5s;

}

.container .box .imgBx {
	background: linear-gradient(rgba(217, 222, 224, 0.514), transparent);
	position: absolute;
	inset: 0;
	border-radius: 12px;
	border: 4px solid rgba(0, 0, 0, 0.2);

}

.container .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	border-radius: 10px;
}

.container .box:hover .imgBx img {
	opacity: 0.5;

}

.container .box .glass {
	position: absolute;
	inset: 0;
	background: linear-gradient(rgba(201, 208, 209, 0.71), transparent);
	border: 1px solid rgba(0, 0, 0, 0.479);
	box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	scale: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container .box .glass::before {
	content: '';

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: rgba(21, 16, 16, 0.192);
}

.container .box:hover {
	transform: rotate(-10deg);
}

.container .box:hover .glass {
	opacity: 1;
	scale: 1;
	transform: rotate(20deg);
}

.container .box .glass h3 {
	font-size: 1.65em;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 0.8em;
}

.container .box .glass h3 span {
	font-weight: 400;
	font-size: 0.5em;
}

.container .box ul {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.container .box ul a {
	color: #fff8;
	font-size: 1.25em;
	scale: 0;
	transition: 0.25s;
	transition-delay: scale calc(0.2s * var(--i));
}

.container .box:hover ul a {
	scale: 1;
}

.container .box ul a:hover {
	color: #fff;
}

.footer {
	text-transform: uppercase;
	margin-top: 4vh;
	width: 100%;
	height: 10vh;
	display: flexbox;
	justify-content: center;
	align-items: center;
	padding: 5px;
	background: rgba(227, 239, 243, 0.776);
}

.footer-box {

	padding: 0;
	margin: 0;
	width: 80%;
}

.footer-box a {
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
	justify-content: space-evenly;
	text-decoration: none;
	margin: 1px 10px 19px 20px;
	color: #000000;

	&:hover {
		transform: scale(1.1);
		font-weight: bolder;
		color: whitesmoke;
		background-color: rgba(22, 17, 17, 0.573);
		color: rgba(223, 203, 203, 0.139)(245, 242, 242);
	}
}

.footer-box h3 {
	font-weight: 900;
	font-size: 15px;
	padding: 5px 20px;
	margin: 0px 8px;
}